.container{
    margin 0 auto;
    width: 80%;
    max-width: 1200px;
}
 .row{
     width: 100%;
     border: 1px solid black;
     margin: 10px;
     background-color: lightgrey;
     float: left;

 }





 .column{
     border: 1px solid black;
     box-sizing: border-box;
     float: left;

 }


 .one-half{
     width: 50%;
     background-color: lightblue;
 }

 .one-third{
     width: 33.3%;
     background-color: darkseagreen;
 }

 .one-fourth{
     width: 25%;
     background-color: blue;
 }

 .one-sixth{
     width: 16.66%;
     background-color: palegreen;

 }



 .one-eighth{
     width: 12.5%;
     background-color: maroon;
 }








