.container{
    margin 0 auto;
    width: 80%;
    max-width: 1200px;
}
 .row{
     width: 100%;
     /*border: 1px solid black;*/
     margin: 10px;
     float: left;

 }






 .column{
     box-sizing: border-box;
     /*border: 1px solid black;*/
     float: left;

 }


 .one-half{
     width: 50%;
 }

 .one-third{
     width: 33.3%;
 }

 .one-fourth{
     width: 25%;
 }

 .one-sixth{
     width: 16.66%;

 }



 .one-eighth{
     width: 12.5%;
 }

 .offset-one-half{
     margin: 500px;
 }











