

*{
}

body {

}


.alert-info{
    text-align: center;
    background-color: lightblue;
    padding: 1em;
}
.alert-info > a {
    color: #000;
    text-decoration: none;
}
h1{
    text-align: center;

}

.nav-links{
    padding-left: 0;
    text-align: center;

}
.nav-links li {
    border: 2px solid black;
    padding: 1em;
    text-align: center;
    margin-bottom: .5em;
    list-style-type: none;

}

.sub-section{
    font-style: italic;
    clear: left;
}











