
.fancy-header {
    color: darkslategrey;
    text-decoration: underline;
}
header{
    background-color: lightsteelblue;.
}

#top{
    text-align: center;
}

h2 {
    color:cadetblue;
    text-decoration: underline;
}

body {
    background-color: lightgrey;
    background-image: url(../spiration-light.png);
    font-family: 'Mina', sans-serif;

}

ul { list-style: square; }

table, tr, td, th  {
    font-size: 15px;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 30px;
}

th{
    background-color: aqua;
}


a:link {
    color:red;
}


a:visited {
    color:maroon;
}


a:hover {
    color:blue;
}

/
a:active {
    color:green;
}


